@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css');

body{
    /*background-attachment: fixed; */
    background-color: #000059;
    background-image: url(/assets/doctor-strange.jpg);
    background-blend-mode:soft-light;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    ;
}

#h1{
    font-size: 70px;
    color: rgb(190, 188, 188);
    margin: 20px;
}

.menu {

    position:relative;
    overflow: hidden;
    width: 45%;
    margin: 20px;
    border-radius: 8px ;
    background:#044275;
    text-align: inherit;
}

.menu a {
display: inline-flex;
width: 25%; /
box-sizing: border-box;
padding: 8px 8px;
color: #fff;
text-decoration:none;
}

.p1 p{ 
margin: 25px;
font-size: 25px;
color: rgb(190, 188, 188);
text-align: justify;
width: 650px;
    
}

.footer-top a{
    text-decoration: none;
    color: rgb(190, 188, 188);
}


.footer-top &copy{
    color: rgb(190, 188, 188);

}